* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

body{
  background-color: #FAFAFA;
  font-family: Open Sans;
}
a{
  text-decoration: none;
}

button{
  background: none;
  border: none;
  cursor: pointer;
}

#root, body, html{
  height: 100%;
}